/* Global styles */
:root {
  --primary-color: #ebcfb2;
  --secondary-color: #04466c;
  --accent1-color: #3F7D20;
  --accent2-color: #5A4956;

  --heading-font: "Satisfy", cursive;
  --paragraph-font: "Roboto", Helvetica, sans-serif;

  --headline-color-on-white: #5A4956;
  --headline-color-on-color: #ebcfb2;
  --paragraph-color-on-white: #5A4956;
  --paragraph-color-on-color: #ebcfb2;
  --paragraph-background-color: #04466c;
  --nav-link-color: #ebcfb2;
  --nav-background-color: #04466c;
  --nav-hover-link-color: #5A4956;
  --nav-hover-background-color: #ebcfb2;
}

body.products {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  text-align: center;
}

header.products-header,
footer.products-footer {
  background-color: var(--secondary-color);
  color: var(--headline-color-on-color);
}
header {
  display: grid;
  grid-template-columns: auto 1fr;
}
header img {
  grid-column: 1;
}

header.products-header h1 {
  font-family: var(--heading-font);
  font-size: 2.5em;
  margin: 0;
  grid-column: 2;
}

h2 {
  font-family: var(--heading-font);
  font-size: 2em;
}

h3 {
  font-family: var(--heading-font);
  font-size: 1.5em;
}

p {
  font-family: var(--paragraph-font);
  font-size: 1.2em;
  line-height: 1.5;
}
/*
nav {
  background-color: var(--nav-background-color);
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  grid-column: 1 / span 2;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 0.5em 1em;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  text-decoration: underline;
}
*/
.activeProducts::before { 
  content: "📍";  /* just a wayfinding symbol for the user */
}

main.products-main {
  padding: 20px;
}

/* Product cards */
#products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  border: 0.5px solid var(--accent1-color);
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px var(--accent2-color);
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: left;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.product-card h3 {
  text-align: center;
  font-size: 1.2em;
  margin: 10px 0;
}

.product-card p {
  text-align: center;
  font-size: 0.9em;
}
footer.products-footer {
  background-color: var(--secondary-color);
  color: var(--headline-color-on-color);
  padding: 1em 0;
  font-size: 0.9em;
}
footer a {
  color: #ebcfb2;
}
/* for the hamButton*/
#menu {
	font-size: 1.5rem;
  border: none;
  background: none;
	color: var(--primary-color);
	position: fixed;
	top: 5rem;
	right: 9rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {	
	display: flex;
	justify-content: space-between;
	list-style: none;
	background-color: var(--accent1-color);
	color: var(--secondary-color);
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: var(--nav-hover-background-color);
	color: var(--accent2-color);
	font-weight: 700;
}
.open a {
	display: block;
}


/* Large view */
@media (min-width: 37.5em) {
  header.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
  }

  #products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  #menu.open::before {
    content: none;
  }
} 