@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Roboto&display=swap');

/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set default font */
body {
    font-family: 'Roboto', sans-serif; /* Using Google Font Roboto */
}

/* Center the main element horizontally */
main {
    max-width: 80%; /* Limited width */
    margin: 0 auto; /* Center horizontally */
}

/* Style header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; /* Center align text */
}

h1 {
    font-size: 24px;
}

nav {
    margin-top: 10px;
    display: flex; /* Use Flexbox */
    justify-content: space-around
}

nav a {
    color: floralwhite;
    text-decoration: none;
    margin-right: 20px;
}

/* Style main content */
main {
    padding: 30px;
}
img {
    float:left
}

/* Layout main column cards using CSS Grid */
.card-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    line-height: 2;
    font-family: "Edu TAS Beginner", cursive;
}
aside {
    width: 40%;
    padding-left: 6px;
    margin-left: 15px;
    float: right;
    background-color: lightblue;
  }

/* Style footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}
a:hover {
    text-decoration: none;
    color: orange;
}
