:root {
    --font-family: 'Roboto', sans-serif;
    --font-weight: 400;
    --font-style: normal;
    --Primary-color: rgb(139, 181, 237); 
    --Second-color: navy;
	--Third-color: #fff;
	--Fourth-color: #000
  }
  /* Default styles */
  body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

h1 {
	text-align: left;
    font-size: 1.5rem;
	padding: 1rem;
	background-color: var(--Primary-color)
}

h2 {
    text-align: center;
	color: var(--Second-color);
}

nav {
	margin: 1rem auto;
}
nav a {
	color: var(--Fourth-color);
}
footer p {
	background-color: var(--Primary-color); 
	padding: 1rem;
	margin: 0 auto;
	text-align: center;
}


/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--Fourth-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {	
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: var(--Primary-color);
}

.navigation a {
	display: none;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	background-color: var(--Third-color);
	font-weight: var(--font-weight);
	padding: 0.5rem;
}
main {
    max-width: 90%;
    margin: 1rem auto;
}
.temple-card {
    border: 1px solid var(--Third-color);
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px var(--Primary-color);
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: left;
}
.temple-card img {
    width: 100%;
    border-radius: 8px;
}
.temple-card p {
	margin: 5px;
}


/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before { 
	content: "📍";  /* just a wayfinding symbol for the user */
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgb(139, 181, 237); 
	}
	h1 {
		text-align: left;
		margin-right: auto; /*push h1 to the left*/
	}

	h2 {
		font-size: 1.5rem;
	}

	#menu {
		display: none; /* hide hamburger button */
	}
	.navigation {
		flex-direction: row;
		background-color: var(--Primary-color); 
	}
	
	.navigation a {
		display: block;
		flex: 1 1 100%;	
		width: 60px;
	}
	#temple-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 25px;
		place-items: center;
	}

	main div {
        border: 1px solid var(--Third-color);
        padding: 10px;   
    }
}

