/* large view navigation ************************************/
@media (min-width: 37.5em) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgb(139, 181, 237); 
	}
	h1 {
		text-align: left;
		margin-right: auto; /*push h1 to the left*/
	}

	h2 {
		font-size: 2rem;
	}

	#menu {
		display: none; /* hide hamburger button */
	}
	.navigation {
		flex-direction: row;
		background-color: rgb(139, 181, 237); 
	}
	

	.navigation a {
		display: block;
		flex: 1 1 100%;	
		width: 100px;
	}
	.templeContainer {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 25px;
		place-items: center;
	}

	main figure {
        border: 1px solid #ccc;
        padding: 10px;   
    }
}
